/*Styles for the index.html*/

/* Imports */
@import '../root.css';
@import '../components/navbar.css';
@import '../components/footer.css';


/* Rest of the style definition */

.dn-form-container-main {
  min-width: 20rem;
} 

.dn-register-alreadyAccount {
  font-weight: bold;
}

.dn-form-container-main img {
  max-width: 150px;
}

/*
----------------------------------------------------
MEDIA QUERIES FOR COMMON SIZES
----------------------------------------------------
*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .dn-form-container-main {
    width: 90%;
  } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .dn-form-container-main {
    width: 350px;
  } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .dn-form-container-main {
    width: 350px;
  } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .dn-form-container-main {
    width: 350px;
  } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .dn-form-container-main {
    width: 350px;
  } 
}