@import './root.css';
@import './components/navbar.css';
@import './components/footer.css';

.cont {
  margin: 0 auto;
  max-width: 1000px;
	text-align: center;
	margin-top: 50px;
	justify-content: center;
}

/*----------------------------------------------
Sección de tarjetas de equipo de desarrollo
-------------------------------------------------*/

/*Contenedor de las tarjetas*/
.about-card-cont{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.dn-about-card{
  width: 18em;
  height: 25em;
}

.about-header-card{
  position: relative;
  background-color: var(--brown1-light);
  height: 35%;
}

.about-header-card img{
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%);
  width: 11em;
  border-radius: 50%;
  border: var(--brown1-light) solid 3px;
}

/*contenedor de los links de git y ln*/
.about-footer-card{
  display: flex;
  justify-content: space-evenly;
  padding: 0 2.5em;
}

/*Iconos de linkedin y github*/
.about-footer-card img{
  width: 2em;
}