@import './root.css';
@import './components/navbar.css';
@import './components/footer.css';


.dn-cartItemsContainer {
  gap: 2rem;
  padding-bottom: 5rem;
}

.dn-cartItemsContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.dn-product-cartItem {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--yellow3-light);
  border-radius: 15px;
  padding: 14px;
}

.dn-product-cartItem img {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  margin: auto;
}

.dn-cart-item-buttons button {
  width: 4rem;
}

.dn-mn-cartlistInfo {
  margin: auto 0;
  padding-left: 8px;
  width: 100%;
}

/* @media only screen and (max-width: 600px) {

  .dn-mn-cartlistInfo{
    margin:0;
    padding: 1rem;
    width:100%;
  }

  .dn-product-cartItem img {
    margin: auto;
	}
  .dn-product-cartItem {
    display: flex;
    flex-direction: column;
    align-content:center ;
  }
  .button-container{
    display: flex;
    justify-content:right;
  }
} 
*/

/**
ANIMACION DEL CARRITO
*/
.dn-empty-cart-animation {
  width: 100%;
  height: 10rem;
}

.dn-cart-icon {
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  font-size: 100px;
  animation-name: move-cart;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 100;
}

.dn-empty-cactus {
  position: absolute;
  bottom: 0;
  width: 50px;
  z-index: 3;
  margin-bottom: 2rem;
}

.dn-empty-cactus2 {
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 80px;
  z-index: 3;
  margin-bottom: 2rem;
}

.dn-empty-cactus {
  position: absolute;
  z-index: 3;
  margin-bottom: 2rem;
  bottom: 0;
}

.dn-empty-cactus:nth-child(1) {
  bottom: 0;
  width: 50px;
}

.dn-empty-cactus:nth-child(2) {
  left: 30%;
  width: 80px;
}

.dn-empty-cactus:nth-child(3) {
  left: 60%;
  width: 60px;
}

.dn-empty-cactus:nth-child(4) {
  right: 0;
  width: 100px;
}

@keyframes move-cart {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .dn-cart-item-buttons {
    flex-direction: column;
  }

  .dn-cart-item-buttons button {
    margin-left: auto;
  }

  .dn-cart-item-buttons > button {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .dn-cart-item-buttons {
    flex-direction: row;
  }

  .dn-cart-item-buttons button {
    margin-left: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .dn-cart-item-buttons {
    flex-direction: row;
  }

  .dn-product-cartItem {
    display: flex;
    flex-direction: row;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  .dn-cartItemsContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .dn-cart-item-buttons {
    flex-direction: row;
  }

  .dn-cartItemsContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}