/* Se importan los estilos root y del navbar */
@import 'root.css';
@import 'components/navbar.css';
@import 'components/footer.css';

/* Estilos de imagen y titulo superior */
.img-container {
	position: relative;
	width: 100%;
	height: 25em;
	margin-bottom: 5rem;
	background-image: url(../assets/imgs/contactImg.webp);
	background-size: cover;
	background-position: center center;
	color: var(--white);
	border-radius: 10px;
}

/* Se agrego para dar opacidad a la imagen y que el texto sea legible*/
.Span-element {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--black);
	opacity: 0.6;
	border-radius: 10px;
}

.img-container p {
	font-weight: normal;
	font-size: x-large;
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%; /*Coloca el texto en el centro verticalmente*/
	transform: translate(-50%, -50%);
}

/* Estilos para el bloque del logo y el formulario*/
.card-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: clamp(20em, 60vw, 1000px);
	margin: auto;
	padding: 8px;
	background-color: var(--yellow1-dark);
	border-radius: 5px;
	margin-bottom: 2em;
}

/* Estilos del logo*/
.card-container img {
	margin: 2em;
	padding: 1.5em;
	width: 20em;
	height: min-content;
	align-self: center;
}

/* Estilos del formulario */
.contact-form {
	width: 22em;
	padding: 10px;
	display: grid;
	grid-template-columns: 100%;
}

.form-group {
	margin: 5px 0;
}

#messageInput {
	resize: none;
}

#contact-btn {
	margin: 1em;
	padding: 3px;
	width: 10em;
	justify-self: center;
}

/*
----------------------------------------------------
MEDIA QUERIES FOR COMMON SIZES
----------------------------------------------------
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.img-container p {
		font-size: large;
		width: 90%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.img-container p {
		font-size: large;
		width: 80%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.img-container p {
		font-size: x-large;
		width: 55%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.img-container p {
		font-size: x-large;
		width: 55%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.img-container p {
		font-size: x-large;
		width: 55%;
	}
}
