/*.{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    

}*/
footer{
    background-color: #683f35;
    padding: 30px 0;
    color: white;
    text-align: center;

}
.container_footer {   
    display: grid;   
    grid-template-columns: repeat (3, 1fr); 
    max-width: 1200px;
    margin: 0 auto;   
    justify-content:center;      
    align-items: center;     
    
}

   
img{
    width: 80%;
    height: auto;
    padding: 15px;
}
.social_footer{    
    display:flex;
    justify-content:center;      
    align-items: center;
    margin: 20px;
  

}


.navigation_footer{
    padding: 20px;    
    grid-gap: 5px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;  
    align-items: center
            

}

.nav_fo{
    width: 35%;
    margin: 5px;
}

.nav_fo:nth-child(-n+3){
    flex: 1;
}
.nav_fo:nth-child(4):nth-child(-n+5){
    flex-basis: 45%;
    align-items: center
}
 

.copyright_footer{
    padding: 0,20px;
    text-align: center
}





