<<<<<<< HEAD
/*.{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    

}*/
footer{
    background-color: #683f35;
    padding: 30px 0;
    color: white;
    text-align: center;

}
.container_footer {   
    display: grid;   
    grid-template-columns: repeat (3, 1fr); 
    max-width: 1200px;
    margin: 0 auto;   
    justify-content:center;      
    align-items: center;     
    
}

   
img{
    width: 32px;
    height: 32px;
    padding: 15px;
}
.social_footer{    
    display:flex;
    justify-content:center;      
    align-items: center;
    margin: 20px;
  

}


.navigation_footer{
    padding: 20px;    
    grid-gap: 5px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;  
    align-items: center
            

}

.nav_fo{
    width: 35%;
    margin: 5px;
}

.nav_fo:nth-child(-n+3){
    flex: 1;
}
.nav_fo:nth-child(4):nth-child(-n+5){
    flex-basis: 45%;
    align-items: center
}
 

.copyright_footer{
    padding: 0,20px;
    text-align: center
}





=======
@import '../root.css';

footer {
    background-color: var(--secondary);
    width: 100%;
    padding: 30px 0;
    color: var(--font-color-light);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_footer {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer img {
    width: 1.5rem;
}

.social_footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 1rem;
}

.navigation_footer {
    width: 70%;
    column-gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.copyright_footer {
    padding: 0, 20px;
    text-align: center
}

footer a {
    color: var(--font-color-light);
}
>>>>>>> c358f451f134e20624045d4e5dc86a0138a5c3dc
