/*  definicion de Posisoin para que no se vaya con el scroll  */
.navbar{
    top: 0%;
    position: sticky !important;
    z-index: 10;
} 
/* color principal de la navbar */
.nav-color{
    background-color: var(--yellow2-base);
}
/* logo de img */
.nav-img{
    width: 50px !important;
    padding:0;
}
/* icono de usuario  */
.cuenta{
    width: 30px !important;
    padding:0;
}

.nav-link:hover{
    color: var(--yellow1-base) !important;
}

.title:hover{
    color: var(--yellow1-base) !important;
}

.selector{
    color: var(--yellow3-base) !important;
}

.title{
    font-size: 1.5em !important;
}
