@import 'root.css';
@import 'components/navbar.css';
@import 'components/footer.css';

/*
Botones de acción flotantes
Carrito y filtro
*/
#id-fab-filter {
  right: 0;
  transform: translate(-25px, 20px);
  z-index: 1000;
}

#id-fab-cart {
  right: 0;
  transform: translate(-25px, 70px);
  z-index: 1000;
}

#id-fab-filter button, #id-fab-cart button{
  right: 0;
  text-align: center;
  width: 45px;
  height: 45px;
  border-style: none;
}

/*
Tarjeta de compra de producto
*/
.dn-shop-card {
  width: 17rem;
  overflow: hidden;
}

/*
Mantener las proporciones de la tarjeta
*/
.dn-shop-card img {
  height: 10rem;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

/* 
Mantener las proporciones de la tarjeta
*/
.dn-shop-card .dn-shop-card-info {
  height: 4rem;
  text-overflow: ellipsis;
}

/*
Contenedor de tarjetas de compras de los productos 
*/
.dn-shop-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 1rem;
  width: 100%;
}

/*
Controles de la tarjeta agregar al carrito y 
cantidad a comprar
*/
.dn-shop-cardControls {
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.dn-button-addToCart {
  min-width: 5rem;
}

/*
----------------------------------------------------
MEDIA QUERIES FOR COMMON SIZES
----------------------------------------------------
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .dn-shop-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .dn-shop-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .dn-shop-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .dn-shop-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .dn-shop-container {
    grid-template-columns: repeat(4, 1fr);
  }
}